<div class="container mt-4">
  <div class="row">
    <div class="col">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="col-7">
      <%= form_with model: Tweet.new, url: tweets_path do |f| %>
        <div class="input-group mt-3">
          <%= f.text_field :body, class: 'form-control' %>
          <%= f.submit 'Добавить', class: 'btn btn-primary' %>
        </div>
      <% end %>
      <ul>
        <% @tweets.find_each do |tweet| %>
          <li><%= tweet.body %></li>
        <% end %>
      </ul>
    </div>
    <div class="col">3</div>
  </div>
</div>
