<%= turbo_frame_tag dom_id(tweet) do %>
  <div class="tweet d-flex pt-3 pb-1 px-3">
    <div class="flex-shrink-0">
      <%= image_tag tweet.user.avatar, size: 48, class: 'rounded-circle' %>
    </div>
    <div class="flex-grow-1 ms-3">
      <% if (Time.zone.now - tweet.created_at) > 1.day %>
        <p class="mb-0"><span class="fw-semibold"><%= tweet.user.display_name %></span> <span class="text-muted">@<%= tweet.user.username %> - <%= tweet.created_at.strftime('%b %-d') %></span></p>
      <% else %>
        <p class="mb-0"><span class="fw-semibold"><%= tweet.user.display_name %></span> <span class="text-muted">@<%= tweet.user.username %> - <%= time_ago_in_words(tweet.created_at) %></span></p>
      <% end %>
      <p><%= tweet.body %></p>
    </div>
  </div>
<% end %>
