<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div class="tweet d-flex pt-3 pb-1 px-3">
    <div class="flex-shrink-0">
      <%= image_tag tweet_presenter.avatar, size: 48, class: 'rounded-circle' %>
    </div>
    <div class="flex-grow-1 ms-3">
      <p class="mb-0">
        <span class="fw-semibold"><%= tweet_presenter.display_name %></span>
        <span class="text-muted"> @<%= tweet_presenter.username %> - <%= tweet_presenter.created_at %></span>
      </p>
      <p><%= tweet_presenter.body %></p>

      <div class="d-flex justify-content-between action-links">
        <div>
          <%= link_to '#', class: 'd-inline-flex align-items-center nav-link text-muted views' do %>
            <%= image_tag 'graph.png', size: 20 %>
            <span class="ps-2">views</span>
          <% end %>
        </div>
        <div>
          <%= link_to '#', class: 'd-inline-flex align-items-center nav-link text-muted replies' do %>
            <%= image_tag 'speech-bubble.png', size: 20 %>
            <span class="ps-2"> replies</span>
          <% end %>
        </div>
        <div>
          <%= link_to '#', class: 'd-inline-flex align-items-center nav-link text-muted retweets' do %>
            <%= image_tag 'retweet.png', size: 20 %>
            <span class="ps-2">retweets</span>
          <% end %>
        </div>
        <div>
          <%= link_to '#', class: 'd-inline-flex align-items-center nav-link text-muted likes' do %>
            <%= image_tag 'heart.png', size: 20 %>
            <span class="ps-2"> likes</span>
          <% end %>
        </div>
        <div>
          <%= link_to '#', class: 'd-inline-flex align-items-center nav-link text-muted bookmark' do %>
            <%= image_tag 'bookmark-white.png', size: 20 %>
            <span class="ps-2">bookmark</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
