<div class="card px-4 pt-3 devise-form shadow">
  <h2>Войти</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post, data: { turbo: false } }) do |f| %>
    <div class="mb-3">
      <%= f.label :email, class: 'form-label' %><br />
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: 'form-label' %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'form-label' %>
      </div>
    <% end %>

    <div class="actions mb-3">
      <%= f.submit "Войти", class: 'btn btn-tw rounded-pill w-100' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
